.content2{
	position:relative;
	height: 67%;
	background-color: #7b523a;
	border-width:1px;
	border-style:solid;
	border-color: #4e3422;
}

#buttons{
	margin-top:2%;
	padding:0%;
	text-align:-webkit-center;
	text-align:-moz-center;
}

.button{
	position:relative;
	width:14%;
	margin-right:2%;
	margin-left:2%;
}
#manchete{
	position:relative;
	width:fit-content;
	left:50%;
	transform:translateX(-50%);
	margin-top:2%;
}


.ps_div{
	position:relative;
	height: 80%;
	padding:2%;
	width:20%;
	border-radius:13px;
	background-color:antiquewhite;
	top:5%;
	margin-left:2%;
	text-align:-webkit-center;
	text-align:-moz-center;
	align-items: center;
	overflow-y:scroll;
	overflow-x:hidden;

}
.ps_button{
	position:relative;
	background-color: #539cea;
	margin: 2%;
	font-size:10pt;
	width:90%;

}


.ps_name{
	font-size:12pt;
	text-align:left;

}
.ps_price{
	font-size:9pt;
	font-weight:bold;
	text-align:right;
}

.size_div{
	position:relative;
	height: 80%;
	padding:2%;
	width:20%;
	border-radius:13px;
	background-color:antiquewhite;
	text-align:-webkit-center;
	text-align:-moz-center;
	align-items: center;
	overflow-y:scroll;
	overflow-x:hidden;
	left:25%;
	bottom:75%;
}

.size_button{
	height:20%;
	margin-top:40%;
	width:-webkit-fill-available;
	background-color:#5b90d3;
}

.sicilian_button{
	position:relative;
	margin-top: 30%;
	font-size:10pt;
	width:90%;
	background-color:#5b90d3;
}

.top_select_button{
	position:relative;
	width:90%;
	margin:2%;
	background-color: #5b90d3;
}
.top_select_div{
	background-color:aliceblue;
	position:relative;
	padding:2%;
	bottom: 155%;
	left:48%;
	height: 80%;
	width:20%;
	border-radius:13px;
	text-align:-webkit-center;
	text-align:-moz-center;
	align-items: center;
	overflow-y:scroll;
	overflow-x:hidden;
}

.currentItem_div{
	position:absolute;
	background-color:#a74c18;
	height:85%;
	width:30%;
	top:30%;
	left:85%;
	border-radius:10px;
	border-style: solid;
	border-width:1px;
	border-color:#676561;
	z-index:1;
	text-align:center;
	overflow-y:scroll;
	overflow-x: visible;
}

.actionButton{
	position:absolute;
	left:50%;
	width:30%;
	transform: translateY(65%) translateX(-50%);
	top:80%;
}

.preçoDiv{
	position:absolute;
	border-radius: 10px;
	background-color:#ad6c44;
	padding-left: 5%;
	padding-right: 5%;
	width: fit-content;
	left:50%;
	top: 97%;
	transform: translateX(-50%);
	border-style: solid;
	border-width:1px;
	border-color:#905939;
}

.btn{
	background-color:#532f18;
	border-color:#a0512a !important;
	box-shadow:none !important;
}
.btn:hover{
	background-color:#a0512a;
	
}

.btn:active:focus, .btn:focus{
	background-color:#bb643a !important;
	
}

.extrasDiv{
	position:absolute;
	height: 100%;
	width: 87%;
	bottom:0%;
	padding:2.5%;
	background-color: #582b15;
	opacity:0.9;
	z-index:0;
}
.extraOptionsDiv{
	position:relative;
	display: inline-block;
	background-color:#b16937;
	height:100%;
	width:45%;
	overflow-y:scroll;
}

.divSelected{
	position:relative;
	display: inline-block;
	width:45%;
	left : 10%;
	background-color:#b16937;
	height: 100%;
	overflow-y:scroll;
}

.addToCartButton{
	position:relative;
	width:40%;
	height:15%;
	left:25%;
	
}

.backButton{
	position:relative;
	width:40%;
	height:15%;
	left:-5%;
}
