
#cartDiv{
	position:relative;
	background-color: #763e1b;
	width:40%;
	height:90%;
	margin:15px;
	overflow-y:scroll;
	text-align:center;
	

}
#OrdersDiv{
	position:relative;
	background-color: #763e1b;
	width:40%;
	height:90%;
	left:50%;
	bottom:93%;
	margin:15px;
	overflow-y:scroll;
	text-align:center;
}

#PizzasDiv{
	position:relative;
}
.btn{
	background-color:#532f18;
	border-color:#a0512a !important;
	box-shadow:none !important;
}
.btn:hover{
	background-color:#a0512a;
}

.btn:active:focus, .btn:focus{
	background-color:#bb643a !important;
}


h3{
	margin:5%;
}


.makeOrderButton{
 	position:absolute;
 	top:90%;
 	width:20%;
 	left:12%;
}

.showInfo{
	position:absolute;
	left:75%;
	top:35%;
	width:25%;
	height:65%;
	background-color:grey;
}

.OrderItemInfo{

}

.confirmationDiv{
	position:absolute;
	left:50%;
	top:30%;
	transform:translateX(-50%);
	background-color: grey;
	display:inline-block;

}