{% extends "template.html" %}


{% load static %}
{% block head %}
	<title>Hey, I'm index</title>
	<link rel="stylesheet" href="{% static 'css/index.css' %}"></link>
	<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block body %}
	<div id="buttons" class="container">
		<button class="button btn btn-primary">Pizza</button>
		<button class="button btn btn-primary">Subs</button>
		<button class="button btn btn-primary">Salads</button>
		<button class="button btn btn-primary">Dinner Platters</button>
	</div>
	<h2>Hey, I'm index!</h2>
{% endblock %}
