{% extends "template.html" %}
{% load static %}

{% block head %}
	<title>Cart&Orders</title>
	<script type='text/javascript' src='{%static "js/orders.js"%}'></script>
	<link rel="stylesheet" href="{% static 'css/orders.css' %}"></link>
{% endblock %}
			

{% block body %}
	<div id="cartDiv">
		<h3>Cart<h3>
			<hr>
			<br>
		<div id="PizzasDiv">
			<h5>Pizzas</h5>
			<hr>
		</div>
		<div id="SubsDiv">
			<h5>Subs</h5>
			<hr>
		</div>
		<div id = "DPDiv">
			<h5>Dinner Platters</h5>
			<hr>
		</div>
		<div id = "PastasDiv">
			<h5>Pastas</h5>
			<hr>
		</div>
		<div id = "SaladsDiv">
			<h5>Salads</h5>
			<hr>
		</div>
	</div>
	<div id="OrdersDiv">
		<h3>Orders</h3>
		<hr>
	</div>
	<button id="makeOrder" class="btn btn-primary makeOrderButton">Make Order</button>
	<div id="preço">$: N/A</div>
{% endblock %}